<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>我的Vue学习Demo首页</title>
    <style type="text/css">
        .demo {
            border: 1px solid #3474ff;
            background: #bfc9d5;
            min-height: 100px;
            width: 600px;
            margin: 10px 0 0 20px;
            padding: 10px 10px 10px 20px;
            line-height: 35px;
        }
        .title {
            font-size: 16px;
            font-weight: bold;
            margin-left: 20px;
        }
        .red{
            color:red;
        }
    </style>
</head>
<body>
    <a name="Dictionary"></a>
    <h1>我的Vue学习Demo</h1>
    <h2>目录</h2>
    <ul>
        <li><a href="#FirstDemo"></a></li>
        <li><a href="#For">渲染列表</a></li>
        <li><a href="#ReserveMessage">处理用户输入</a></li>
        <li><a href="#Total">综合</a></li>
    </ul>
    <h2>Demo</h2>

    <!-- 第一个Demo：双向绑定 ---开始-->
    <a name="FirstDemo"></a>
    <h3 class="title">#第一个Demo：双向绑定></h3>
    <div class="demo">
        <div id="FirstDemo">
            <input v-model="Message" type="text"/></br>
            <p>{{Message}}</p>
        </div>
    </div>
    <!-- 第一个Demo：双向绑定 ---结束-->
    </br>
    <span><a href="#Dictionary">回目录</a></span>

    <!-- 渲染列表 ---开始-->
    <a name="For"></a>
    <h3 class="title">#渲染列表</h3>
    <div class="demo">
        <div id="For">
            <ul>
                <li v-for="item in list">
                    {{list[item]}}
                </li>
            </ul>
        </div>
        <p class="red">注：这里的list必须是数组对象！</p>
        <p class="red">另：其中一个指令解析出错，所有指令都不执行！</p>
    </div>
    <!-- 渲染列表 ---结束-->
    </br>
    <span><a href="#Dictionary">回目录</a></span>

    <!-- 处理用户输入 ---开始-->
    <a name="ReserveMessage"></a>
    <h3 class="title">#处理用户输入</h3>
    <div class="demo">
        <div id="ReserveMessage">
            <p>{{Message}}</p>
            <button v-on:click="reserveMessage">Reserve Message</button>
        </div>
    </div>
    <!-- 处理用户输入 ---结束-->
    </br>
    <span><a href="#Dictionary">回目录</a></span>

    <!-- 综合 ---开始-->
    <a name="Total"></a>
    <h3 class="title">#综合</h3>
    <div class="demo">
        <div id="Total">
            <input type="text" v-on:keyup.enter="AddTodo" placeholder="Keyup Enter to add item" v-Model="newTodo"/>
            <ul>
                <li v-for="todo in Todos">
                    <span>{{todo.Text}}</span>
                    <button v-on:click="RemoveTodo($index)">X</button>
                </li>
            </ul>
        </div>
    </div>
    <!-- 综合 ---结束-->
    </br>
    <span><a href="#Dictionary">回目录</a></span>

</body>
<script type="text/javascript" src="vue.js"></script>
<script type="text/javascript">
    // #第一个Demo：双向绑定
    var fd = new Vue({
        el: "#FirstDemo",
        data: {
            Message: "Hello World!"
        }
    });

    //#渲染列表
    var theFor = new Vue({
        el:"#For",
        data:{
            list:[
                "First",
                "Second",
                "Third",
                "Fourth"
        ]}
    });

    //#处理用户输入
    var reserveMessage = new Vue({
        el:"#ReserveMessage",
        data:{
            Message:"Hello VueJs!"
        },
        methods:{
            reserveMessage:function(){
                this.Message = this.Message.split('').reverse().join('');
            }
        }
    });

    //#综合
    var total = new Vue({
        el:"#Total",
        data:{
            newTodo:"",
            Todos:[
                {
                    Text:"Add some todo"
                }
            ]
        },
        methods:{
            AddTodo:function(){
                var text = this.newTodo.trim();
                this.Todos.push({
                    Text:text
                });
            },
            RemoveTodo:function(index){
                this.Todos.splice(index,1);
            }
        }
    });
</script>
</html>